@charset "UTF-8";
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: #5f2c82;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    height: 505px;
    width: 230px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548) ;
    transition: width .4s, heidth .4s;
    transition-timing-function:ease ;
}
section#login > div#imagem{
    background-color: #6b1c65 ;
    background-image: url(../imagens/pexels-alizee-marchand-937788.jpg);
    height: 200px;
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}
section#login > div#formulario{
    display: block;
    padding: 10px;
    
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p{
    font-size: .8em;
    margin-bottom: 10px;

}
form > div#campo > label{
    display: none;
}
div#campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
div#campo > input{
    width: calc(100% - 46px);
    height: 100%;
    transform: translateY(-12px);
    border-radius: 8px;
    border:2px solid #551750;
    
}
div#campo{
    background-color: #551750;
    display: block;
    border-radius: 8px;
    margin: 5px 0px;
    width: 100%;
    height:40px ;
}
form > input[type=submit]{
     display: block;
     width: 100%;
     height: 40px;
     background-color: #555fbd;
     color: white;
     margin-bottom: 5px;
     padding: 5px;
     border-radius: 5px;
     border: none;
     cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #323a7a;
}
form > a.botao{
    display: block;
    width: 100%;
    height: 40px;
    background-color: white;
    border:2px solid #555fbd;
    padding: 5px;
    border-radius: 7px;
    text-decoration: none;
    text-align: center;
    color: #464e9b;
}
form > a.botao:hover{
    background-color: #5865d6ad;
}
form > a.botao > span{
    font-size: 1.1em;
}
